.success {
    background-color: green;
    color: white;
    border: 1px black;
    width: 80vw;
    font-size: 24px;
}
.error {
     background-color: red;
     color: white;
     border: 1px black;
     width: 80vw;
     font-size: 24px;
}